[submodule "2019-06-22_kopdar-user-yogya-1/Muhammad Farkhan Novianto/shiny-password"]
	path = 2019-06-22_kopdar-user-yogya-1/Muhammad Farkhan Novianto/shiny-password
	url = https://github.com/mfarkhann/shiny-password
